.flex1 {
    display: flex;
    gap: 10px;
    gap: 50px 20px; 
    row-gap: 10px;
    column-gap: 20px;
}

  .select {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 300px;
    gap: 10px;
  }
  
  .select__item {
    padding: 10px;
    cursor: pointer;
    font-family: "Heebo", sans-serif;
    text-align: center;
    border-radius: 3px;
    background: #eeeeee;
    transition: background 0.1s;
  }
  
  .select__item--selected {
    background: #009578;
    color: #ffffff;
  } 

  .card {
    justify-items: auto;
    align-items: center;
  }
 

  .button {
    
    border-radius: 50px;
    background-color: #38683a;
    border: none;
    color: white;
    text-align: center;
    font-size: 7px;
    width: 90px;
    height: 30px;
}


  